<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrdersMapper">

    <resultMap id="orderMap" type="orders">
        <id column="id" property="id"/>

        <!--配置订单与产品的一对一的关联关系
            column:用于查询条件的传值
        -->
        <association property="product" javaType="product" column="productId" select="com.itheima.mapper.ProductMapper.findProductById" fetchType="lazy"/>
        <association property="member" javaType="member" column="memberId" select="com.itheima.mapper.MemberMapper.findById" fetchType="lazy"/>
        <collection property="travellers" ofType="traveller" column="id" select="com.itheima.mapper.TravellerMapper.findByOrdersId" fetchType="lazy"/>
    </resultMap>

    <!--遍历订单-->
    <select id="findAll" resultMap="orderMap">
        SELECT * FROM ORDERS
    </select>

    <select id="findById" parameterType="string" resultMap="orderMap">
         SELECT * FROM ORDERS WHERE id=#{oid}
    </select>
</mapper>