<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrdersMapper">

    <resultMap id="orderMap" type="orders">
        <id column="id" property="id"/>

        <!--配置订单与产品的一对一的关联关系
            column:用于查询条件的传值
        -->
        <association property="product" javaType="product" column="productId" select="com.itheima.mapper.ProductMapper.findProductById"/>
    </resultMap>

    <!--遍历订单-->
    <select id="findAll" resultMap="orderMap">
        SELECT * FROM ORDERS
    </select>
</mapper>