<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

    <resultMap id="userMap" type="userInfo">
        <id column="id" property="id"/>
        <!--配置用户与角色的映射关系-->
        <collection property="roles" ofType="roles" column="id" select="com.itheima.mapper.RolesMapper.findByUserId" fetchType="lazy"/>
    </resultMap>

    <select id="findByUsername" parameterType="string" resultMap="userMap">
        SELECT * FROM users WHERE USERNAME=#{username}
    </select>

    <select id="findAll" resultType="userInfo">
        SELECT * FROM USERS
    </select>

    <insert id="save" parameterType="userInfo">
        INSERT INTO USERS(email,username,password,phonenum,status) VALUES (#{email},#{username},#{password},#{phoneNum},#{status})
    </insert>

    <select id="findById" parameterType="string" resultType="userInfo">
        SELECT * FROM users WHERE id=#{uid}
    </select>


    <update id="updateByUsername" parameterType="userInfo">
        UPDATE USERS SET EMAIL=#{email},PASSWORD=#{password},STATUS=#{status},PHONENUM=#{phoneNum} WHERE USERNAME=#{username}
    </update>
</mapper>